/* =======
Variables
========== */

:root {
  --document-bg-color: #f0f0ee;;
  --document-text-color: rgb(22 21 21);
}

/* =======
Resets
========== */

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p, a, input, label, button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--document-text-color);
}

p {
  line-height: 100%;
}

a {
  --text-color: rgb(117, 90, 226);
  --hover-text-color: rgb(38, 22, 128);
  color: var(--text-color);
  transition: .3s color;
  
  &:hover {
    color: var(--hover-text-color);
  }
}

a[target="_blank"] {
  &::after {
    content: "asdasdad";
    display: inline-block;
    vertical-align: baseline;
    text-decoration: underline;

    height: 1em;
    width: 1em;
    
    transition: .3s background;
    background: var(--text-color);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M11 6a1 1 0 1 1 0 2H5v11h11v-6a1 1 0 1 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2zm9-3a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V6.414l-8.293 8.293a1 1 0 0 1-1.414-1.414L17.586 5H15a1 1 0 1 1 0-2Z'/%3E%3C/g%3E%3C/svg%3E");
    text-decoration: underline;
  } 
  
  &:hover::after {
    background: var(--hover-text-color);
  }
}

html {
    /* https://stackoverflow.com/a/7049918/12637568 */
    height: 100vh;
}

h1 {
    text-align: center;
}

body {
  display: grid;
  grid: 1fr auto
        / auto;
  
  align-items: start;
  justify-content: center;
  
  background: var(--document-bg-color);
  padding: 1rem;
  
  height: 100vh;
  
  transition: .9s background;
  
  *::selection {
    background-color: var(--document-text-color);
    color: var(--document-bg-color);
  }
}

/* =======
Page content
========== */

.main-content {
  display: grid;
  align-content: center;
}

#game-form {
    display: grid;
    grid: 1fr / auto-flow;
    align-items: center;
    gap: 1rem;

    #guess-input {
        padding: .5rem;
        font-size: 1em;
        height: 3em;
        
        transition: .3s border, .3s background;
    }
}

/* =======
Button components
========== */

.btn {
  border: 1px solid grey;
  padding: .5rem 1rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content; /* don't stretch via justify-self default if a grid child */

  transition: .3s background;
}

.btn--success {
  border: 1px solid rgb(31, 93, 38);
  background: rgb(115, 193, 115);
  
  &:hover {
    background: rgb(100, 186, 100);
  }
}

.btn--toast {
  border: none;
  border-radius: 50%;

  /* fix the size of the button irregardless of its contents */
  width: 3rem;
  aspect-ratio: 1 / 1;

  background:
    no-repeat
    center / 50% 50%
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-width='2' d='M20 20L4 4m16 0L4 20'/%3E%3C/svg%3E");
  
  background-color: rgb(43, 43, 43);
  
  display: grid;
  grid: 100% / 100%;
  place-items: center; /* why do the default grid tracks not fill to 100%? */
  
  &:hover {
    background-color: rgb(14, 13, 13);
  }
}

#btn--new-game {
  margin-top: 1rem;
  justify-self: center;
}

/* =======
Popovers
========== */

[popover]::backdrop {
  display: none;
}

.toast {
  border: none;
  border-radius: 6px;
  padding: 1rem 1rem;
  box-shadow: 0px 0px 2px #00000059;
  
  line-height: 100%;
  
  position: absolute;
  inset: auto; /* reset browser defaults */
  right: 1rem;
  bottom: 1rem;
  
  /* popover behavior alters the display property,
  so we need a wrapper otherwise the element's functionality will break if display isn't none or block (i think). */
  .flex-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.toast--success {
	border: 2px solid rgb(87, 137, 45);
	background: rgb(184, 255, 184);
	box-shadow: 0px 0px 2px #25773640;

  overflow: hidden; /* don't scroll to accomodate rotated ::before icon */
  
  &::before {
    content: "";
    z-index: -1; /* display behind the text within the popover */
    left: 0rem;
    height: 3rem;
    aspect-ratio: 1 / 1;
    
    background-color: rgb(165, 208, 165);
    /* svgs aren't 100% of height and width */
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 0 0'%3E%3Cpath fill='%23000' d='m14 21.414l-5-5.001L10.413 15L14 18.586L21.585 11L23 12.415z'/%3E%3Cpath fill='%23000' d='M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2m0 26a12 12 0 1 1 12-12a12 12 0 0 1-12 12'/%3E%3C/svg%3E");
  }
}

.toast--danger {
	border: 2px solid rgb(195, 56, 52);
	background: rgb(255, 81, 81);
  box-shadow: 0px 0px 2px #77252540;
  
  overflow: hidden; /* don't scroll to accomodate rotated ::before icon */
  
  &::before {
    content: "";
    z-index: -1; /* display behind the text within the popover */
    left: 0rem;
    height: 3rem;
    aspect-ratio: 1 / 1;
    
    background-color: rgb(217, 119, 119);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23c53a3a' d='M12 4c-4.42 0-8 3.58-8 8s3.58 8 8 8s8-3.58 8-8s-3.58-8-8-8m1 13h-2v-2h2zm0-4h-2V7h2z' opacity='0.3'/%3E%3Cpath fill='%23c53a3a' d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2M12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8s8 3.58 8 8s-3.58 8-8 8m-1-5h2v2h-2zm0-8h2v6h-2z'/%3E%3C/svg%3E");
  }
}

.notification--neutral {
  border: 2px solid hsl(0, 0%, 64%);
  background: hsl(0, 0%, 95%);
  overflow: hidden; /* don't scroll to accomodate rotated ::before icon */
  
  &::before {
    content: "";
    z-index: -1; /* display behind the text within the popover */
    left: 0rem;
    height: 3rem;
    aspect-ratio: 1 / 1;
    
    background-color: hsl(0, 0%, 66%);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 4c-4.41 0-8 3.59-8 8s3.59 8 8 8s8-3.59 8-8s-3.59-8-8-8m1 13h-2v-6h2zm0-8h-2V7h2z' opacity='0.3'/%3E%3Cpath fill='%23000' d='M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8'/%3E%3C/svg%3E");
  }
}

/* =======
Utilities
========== */

.sr-only {
  position: absolute;
  left: -99999px;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.bg-success {
  background: #45be5e;
}

.bg-danger {
  background: #b85563;
}