@use "./base/base";
@use "./base/base_variables";

/* =======
Page content
========== */

.main-content {
    display: grid;
    align-content: center;
}

#game-form {
    display: grid;
    grid: 1fr / auto-flow; // 1fr row, auto-flow column
    align-items: center;
    gap: 1rem;

    #guess-input {
        padding: .5rem;
        font-size: 1em;
        height: 3em;

        transition: .3s border, .3s background;
    }
    
    @media screen and (max-width: base_variables.$small-breakpoint) {
        grid: auto-flow / 1fr;
    }
}